@model UI.Models.CommentsModel
@{
    Layout = null;
}
@if (Model != null)
{
for(int i = 0; i < 5; i++)
    {
    <a class="th radius image-review-size" href="#">
        <img src="~/Content/images/NoImage.png" />
    </a>    
    }
}